* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: medium;
  font-weight: normal;
}

.background {
  background-image: url(../images/Just_Image.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  opacity: 0.85;
}

.profile_name {
  font-variant: small-caps;
  color: white;
  position: absolute;
  right: 0;
  top: 40%;
  margin-right: 1vw;
}

.profile_name h4 {
  font-family: auto;
  font-size: 9vw;
  border-bottom: 1px solid white;
}

.profile_name h6 {
  margin-top: 2vh;
  font-size: 2vw;
  text-align: center;
}

/* .navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #ed5565;
} */

footer {
  background-color: #000000;
  color: white;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 3px;
  width: 100%;
  bottom: 0;
  position: relative;
  text-align: center;
}

@media screen and (max-width:600px) {
  .profile_name {
    top: 45%;
    display: flex;
    flex-direction: column;
    padding-right: 15vw;
    padding-left: 15vw;
  }

  .profile_name h4 {
    padding-bottom: 1vh;
  }

  .profile_name h6 {
    margin-top: 0vh;
    font-size: 3vw;
    text-align: center;
  }
}

.contact-section {
  background-color: #333;
  background-size: cover;
  height: 12vh;
  align-items: center;
  padding-top: 3vh;
} 
.contact-buttons {
  display: block;
  width: 100%;
  bottom: 0;
  position: relative;
  text-align: center;
}

.btn-linkedin {
  background: #0E76A8;
  border-radius: 10px;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #084461;
}
.btn-drible {
  background: #e64786;
  border-radius: 10px;
  color: white; 
  border-width: 1px;
  border-style: solid;
  border-color: #084461;
}
.btn-github {
  background-color: #24292e;
  border-radius: 10px;
  color: white; 
  border-width: 1px;
  border-style: solid;
  border-color: #084461;
}
.btn-email {
  background-color: #141f1f;
  border-radius: 10px;
  color: white; 
  border-width: 1px;
  border-style: solid;
  border-color: #084461;
}
.btn-facebook {
  background-color: #4267b2;
  border-radius: 10px;
  color: white; 
  border-width: 1px;
  border-style: solid;
  border-color: #084461;
}